# math Operation : Regular

In [1]:
2*2

4

In [4]:
print(7%3)
print(7//3)

1
2

In [6]:
print( 2 ** 3)
print ( 2 * 5 )

8
10

In [9]:
print( 2 + 5 * 5 +3)
print(( 2 + 5 )* (5 +3))

30
56

# # math Operation : Variable

In [23]:
mystring = "Abcdefghijkl"
print(mystring[0])
print(mystring[-2])
print(mystring[1:3])
print(mystring[2:])
print(mystring[:4])
print(mystring[2:7:2])
print(mystring[::])
print(mystring[::2])
print(mystring[::-1])

A
k
bc
cdefghijkl
Abcd
ceg
Abcdefghijkl
Acegik
lkjihgfedcbA

In [25]:
s='Hello World'
s[8]

'r'

# String

In [26]:
print(2+3)
print('2' + '3')

5
23

In [31]:
x = 'Hello World'
print(x.upper())
print(x.lower())
print(x.split())

HELLO WORLD
hello world
['Hello', 'World']

In [30]:
y = 'Hi this is a string'
print(y.split())
print(y.split('i'))

['Hi', 'this', 'is', 'a', 'string']
['H', ' th', 's ', 's a str', 'ng']

In [37]:
print('This is a string {}'.format('INSERTED'))
print ('The {} {} {}'.format ('fox', 'brown', 'quick'))
print ('The {2} {1} {0}'.format ('fox', 'brown', 'quick'))
print ('The {0} {0} {0}'.format ('fox', 'brown', 'quick'))
print ('The {q} {b} {f}'.format (f='fox', b='brown', q='quick'))

This is a string INSERTED
The fox brown quick
The quick brown fox
The fox fox fox
The quick brown fox

In [42]:
result = 100/777
print(result)
print(" The result was {r}".format(r=result))
print(" The result was {r:1.3f}".format(r=result))
print(" The result was {r:10.3f}".format(r=result))
print(" The result was {r:1.3f}".format(r=result))

0.1287001287001287
 The result was 0.1287001287001287
 The result was 0.129
 The result was      0.129

In [47]:
name = 'Sam'
print(" Hello,his name is {}".format(name))
print(f'Hello,his name is {name}')
age = 30
print(f'{name} is {age} year old')

 Hello,his name is Sam
Hello,his name is Sam
Sam is 30 years old

# List

In [49]:
my_list = ['One','Two','Three']
print(len(my_list))
print(my_list[2])

3
Three

In [3]:
new_list = ['one','two','three','four']
new_list[0] ='ONE ALL'
new_list

['one', 'two', 'three', 'ONE ALL']

In [4]:
new_list.append('six')
new_list

['one', 'two', 'three', 'ONE ALL', 'six']

In [5]:
new_list.pop()

'six'

In [6]:
new_list

['one', 'two', 'three', 'ONE ALL']

In [10]:
my_list =['a','c','b','g','d']
my_no_list=[1,2,4,6,3,5]
my_list.sort()
my_no_list.sort()
my_list
my_no_list

[1, 2, 3, 4, 5, 6]

#Dictionaries

In [11]:
my_dict= {'key1':'vegi', 'key2' : 'mango'}
my_dict ['key1']

'vegi'

In [18]:
more_dict = {'k1': 123, 'k2': [1,2,3,4],'k3':{'ik1':100, 'ik2':'mango'}}
more_dict['k3']['ik2']

'mango'

In [20]:
my_dict['key2'].upper()

'MANGO'

In [23]:
d = {'k1':100, 'k2': 200, 'k3': 300}
print(d)
d['k4']=  400
print(d)
print(d.values())
print(d.keys())
d.items()

{'k1': 100, 'k2': 200, 'k3': 300}
{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}
dict_values([100, 200, 300, 400])
dict_keys(['k1', 'k2', 'k3', 'k4'])

dict_items([('k1', 100), ('k2', 200), ('k3', 300), ('k4', 400)])

# Tupple

In [24]:
t = (1,2,3)
mylist = [1,2,3]
print (type(t))
type(my_list)

<class 'tuple'>

list

In [27]:
t = ('a','b','c','a')
print(t.count('a'))
t.index('a')

2

0

In [30]:
mylist = [1,2,3]
mylist [2] = 5
mylist

[1, 2, 5]

In [31]:
t [0] ='b'

TypeError: 'tuple' object does not support item assignment

# SET

In [32]:
myset = set()
myset.add(1)
myset

{1}

In [33]:
myset.add(2)
myset

{1, 2}

In [34]:
myset.add(2)
myset

{1, 2}

In [35]:
mylist01 = [1,1,1,1,1,1,4,5,6,7,34,5,6]
set(mylist01)

{1, 4, 5, 6, 7, 34}

# Booleans

In [36]:
True

True

In [37]:
False

False

In [38]:
type(True)

bool

In [39]:
 1 == 1

True